.widget-container.notes-widget {
  background-color: #FFFBE6;
}

:root[class~="dark"] .widget-container.notes-widget {
  background-color: #1E293B;
}

:root {
  --notes-bg-light: rgb(255,251,235);
  --notes-bg-dark: rgb(30, 41, 59);
}

.dark .widget-container.notes-widget {
  background-color: var(--notes-bg-dark) !important;
} 